

// iOS View Transitions
// -------------------------------

$ios-transition-view-duration:              450ms !default;
$ios-transition-view-timing-function:       cubic-bezier(.3, .9, .4, 1) !default;
$ios-transition-container-bg-color:         #000 !default;


[nav-view-transition="ios"] {

  [nav-view="entering"],
  [nav-view="leaving"] {
    @include transition-duration( $ios-transition-view-duration );
    @include transition-timing-function( $ios-transition-view-timing-function );
    -webkit-transition-property: opacity, -webkit-transform;
            transition-property: opacity, transform;
  }

  &[nav-view-direction="forward"],
  &[nav-view-direction="back"] {
    background-color: $ios-transition-container-bg-color;
  }

}



// iOS Nav Bar Transitions
// -------------------------------

[nav-bar-transition="ios"] {

  .title,
  .buttons,
  .back-text {
    @include transition-duration( $ios-transition-view-duration );
    @include transition-timing-function( $ios-transition-view-timing-function );
    -webkit-transition-property: opacity, -webkit-transform;
            transition-property: opacity, transform;
  }

  [nav-bar="active"] .bar {
    background: transparent;
  }

}



// Android View Transitions
// -------------------------------

$android-transition-view-duration:              250ms !default;
$android-transition-view-timing-function:       cubic-bezier(0.4, 0.6, 0.2, 1) !default;


[nav-view-transition="android"] {

  [nav-view="entering"],
  [nav-view="leaving"] {
    @include transition-duration( $android-transition-view-duration );
    @include transition-timing-function( $android-transition-view-timing-function );
    -webkit-transition-property: opacity, -webkit-transform;
            transition-property: opacity, transform;
  }

}



// Android Nav Bar Transitions
// -------------------------------

[nav-bar-transition="android"] {

  [nav-bar="entering"],
  [nav-bar="leaving"] {
    @include transition-duration( $android-transition-view-duration );
    @include transition-timing-function( $android-transition-view-timing-function );
    -webkit-transition-property: opacity, -webkit-transform;
            transition-property: opacity, transform;
  }

  [nav-bar="cached"] {
    display: none;
  }

}



// Transition Settings
// -------------------------------

[nav-view="stage"] {
  opacity: 0;
  @include transition-duration( 0 );
}


[nav-bar="stage"] {
  .title,
  .buttons,
  .back-text {
    opacity: 0;
    @include transition-duration(0s);
  }
}

