

// Zoom Switch Transitions
// -------------------------------

$zoom-switch-view-duration:              800ms !default;
$zoom-switch-view-timing-function:       ease-in-out !default;
$zoom-switch-container-bg-color:         #333 !default;


.zoom-switch.nav-forward {
  background-color: $zoom-switch-container-bg-color;

  .ng-animate {
    // stage where the entering view will start from
    @include translate3d(98%, 0, 0);
  }

  .view-pane-add {
    // set the animation for the entering view
    @include animation-name( zoomSwitchInFromRight );
    @include animation-duration( $zoom-switch-view-duration );
    @include animation-timing-function( $zoom-switch-view-timing-function );
    z-index: $z-index-view-above;
  }

  .view-pane-remove {
    // set the animation for the leaving view
    @include animation-name( zoomSwitchOutToLeft );
    @include animation-duration( $zoom-switch-view-duration );
    @include animation-timing-function( $zoom-switch-view-timing-function );
    z-index: $z-index-view-below;
  }

}

.zoom-switch.nav-back {
  background-color: $zoom-switch-container-bg-color;

  .ng-animate {
    // stage where the entering view will start from
    @include translate3d(-33%, 0, 0);
  }

  .view-pane-add {
    // set the animation for the entering view
    @include animation-name( zoomSwitchInFromLeft );
    @include animation-duration( $zoom-switch-view-duration );
    @include animation-timing-function( $zoom-switch-view-timing-function );
    z-index: $z-index-view-below;
  }

  .view-pane-remove {
    // set the animation for the leaving view
    @include animation-name( zoomSwitchOutToRight );
    @include animation-duration( $zoom-switch-view-duration );
    @include animation-timing-function( $zoom-switch-view-timing-function );
    z-index: $z-index-view-above;
  }

}

.zoom-switch.nav-enter,
.zoom-switch.nav-exit {

  .ng-animate {
    // stage where the entering view will start from
    @include translate3d(0, 0, 0);
  }

  .view-pane-add {
    // set the animation for the entering view
    @include animation-name( fadeIn );
    @include animation-duration( $zoom-switch-view-duration / 2 );
    @include animation-timing-function( $zoom-switch-view-timing-function );
    z-index: $z-index-view-above;
  }

  .view-pane-remove {
    // set the animation for the leaving view
    @include animation-name( fadeOutToPartial );
    @include animation-duration( $zoom-switch-view-duration / 2 );
    @include animation-timing-function( $zoom-switch-view-timing-function );
    z-index: $z-index-view-below;
  }

}

$zoom-switch-scale-out:    0.7 !default;


@-webkit-keyframes zoomSwitchOutToLeft {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale($zoom-switch-scale-out);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0) scale($zoom-switch-scale-out);
  }
}


@-webkit-keyframes zoomSwitchOutToRight {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale($zoom-switch-scale-out);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0) scale($zoom-switch-scale-out);
  }
}


@-webkit-keyframes zoomSwitchInFromLeft {
  0% {
    -webkit-transform: scale($zoom-switch-scale-out) translate3d(-150%, 0, 0) ;
  }
  20% {
    -webkit-transform: scale($zoom-switch-scale-out) translate3d(-120%, 0, 0) ;
  }
  80% {
    -webkit-transform: scale($zoom-switch-scale-out);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}


@-webkit-keyframes zoomSwitchInFromRight {
  0% {
    -webkit-transform: scale($zoom-switch-scale-out) translate3d(150%, 0, 0) ;
  }
  20% {
    -webkit-transform: scale($zoom-switch-scale-out) translate3d(120%, 0, 0) ;
  }
  80% {
    -webkit-transform: scale($zoom-switch-scale-out);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}

