

// iOS Transitions
// -------------------------------

$ios-transition-view-duration:              400ms !default;
$ios-transition-view-timing-function:       cubic-bezier(0.4, 0.6, 0.2, 1) !default;
$ios-transition-container-bg-color:         #000 !default;


.ios-transition.nav-forward {
  background-color: $ios-transition-container-bg-color;

  .ng-animate {
    // stage where the entering view will start from
    @include translate3d(98%, 0, 0);
  }

  .nav-view-add {
    // set the animation for the entering view
    @include animation-name( slideInFromRight, addBoxShadow );
    @include animation-duration( $ios-transition-view-duration );
    @include animation-timing-function( $ios-transition-view-timing-function );
    z-index: $z-index-view-above;
  }

  .nav-view-remove {
    // set the animation for the leaving view
    @include animation-name( slideOutToLeft33, fadeOutToPartial );
    @include animation-duration( $ios-transition-view-duration );
    @include animation-timing-function( $ios-transition-view-timing-function );
    z-index: $z-index-view-below;
  }

}

.ios-transition.nav-back {
  background-color: $ios-transition-container-bg-color;

  .ng-animate {
    // stage where the entering view will start from
    @include translate3d(-33%, 0, 0);
  }

  .nav-view-add {
    // set the animation for the entering view
    @include animation-name( slideInFromLeft33, fadeInFromPartial );
    @include animation-duration( $ios-transition-view-duration );
    @include animation-timing-function( $ios-transition-view-timing-function );
    z-index: $z-index-view-below;
  }

  .nav-view-remove {
    // set the animation for the leaving view
    @include animation-name( slideOutToRight, removeBoxShadow );
    @include animation-duration( $ios-transition-view-duration );
    @include animation-timing-function( $ios-transition-view-timing-function );
    z-index: $z-index-view-above;
  }

}

.ios-transition.nav-enter,
.ios-transition.nav-exit {

  .ng-animate {
    // stage where the entering view will start from
    @include translate3d(0, 0, 0);
  }

  .nav-view-add {
    // set the animation for the entering view
    @include animation-name( fadeIn );
    @include animation-duration( $ios-transition-view-duration / 2 );
    @include animation-timing-function( $ios-transition-view-timing-function );
    z-index: $z-index-view-above;
  }

  .nav-view-remove {
    // set the animation for the leaving view
    @include animation-name( fadeOutToPartial );
    @include animation-duration( $ios-transition-view-duration / 2 );
    @include animation-timing-function( $ios-transition-view-timing-function );
    z-index: $z-index-view-below;
  }

}



// Android Transitions
// -------------------------------

$android-transition-view-duration:              400ms !default;
$android-transition-view-timing-function:       cubic-bezier(0.4, 0.6, 0.2, 1) !default;
$android-transition-container-bg-color:         #000 !default;


.android-transition.nav-forward {
  background-color: $android-transition-container-bg-color;

  .ng-animate {
    // stage where the entering view will start from
    @include translate3d(98%, 0, 0);
  }

  .nav-view-add {
    // set the animation for the entering view
    @include animation-name( slideInFromRight );
    @include animation-duration( $android-transition-view-duration );
    @include animation-timing-function( $android-transition-view-timing-function );
    z-index: $z-index-view-above;
  }

  .nav-view-remove {
    // set the animation for the leaving view
    @include translate3d(0, 0, 0);
    @include animation-name( fadeOutToPartial );
    @include animation-duration( $android-transition-view-duration );
    @include animation-timing-function( $android-transition-view-timing-function );
    z-index: $z-index-view-below;
  }

}

.android-transition.nav-back {
  background-color: $android-transition-container-bg-color;

  .ng-animate {
    // stage where the entering view will start from
    @include translate3d(0, 0, 0);
  }

  .nav-view-add {
    // set the animation for the entering view
    @include animation-name( fadeInFromPartial );
    @include animation-duration( $android-transition-view-duration );
    @include animation-timing-function( $android-transition-view-timing-function );
    z-index: $z-index-view-below;
  }

  .nav-view-remove {
    // set the animation for the leaving view
    @include animation-name( slideOutToRight );
    @include animation-duration( $android-transition-view-duration );
    @include animation-timing-function( $android-transition-view-timing-function );
    z-index: $z-index-view-above;
  }

}

.android-transition.nav-enter,
.android-transition.nav-exit {

  .ng-animate {
    // stage where the entering view will start from
    @include translate3d(0, 0, 0);
  }

  .nav-view-add {
    // set the animation for the entering view
    @include animation-name( fadeIn );
    @include animation-duration( $android-transition-view-duration / 2 );
    @include animation-timing-function( $android-transition-view-timing-function );
    z-index: $z-index-view-above;
  }

  .nav-view-remove {
    // set the animation for the leaving view
    @include animation-name( fadeOutToPartial );
    @include animation-duration( $android-transition-view-duration / 2 );
    @include animation-timing-function( $android-transition-view-timing-function );
    z-index: $z-index-view-below;
  }

}


// Intermediate Settings Between Steps Of A Transition
// -------------------------------
// These prevent flickers as elements are added and removed,
// holds their correct opacity between setting final states

.view-entering, // entering: before animate
.view-active.view-leaving // leaving: after animate
{
  opacity: 0;
}

.view-entering.nav-view, // entering: during and after animate
.view-active.view-leaving.ng-animate // leaving: before and during animate
{
  opacity: 1;
}



// View Transition Defaults (no animation)
// -------------------------------

.nav-view-add {
  @include animation-name( fadeIn );
}

.nav-view-remove {
  @include animation-name( fadeOut );
}

.nav-view-add,
.nav-view-remove {
  opacity: 1;
  @include animation-duration( 0 );
  @include animation-fill-mode( forwards );
}

// required for Android
.ng-animate .pane {
  position: absolute;
}

